<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChat">
                    <reliableSession inactivityTimeout="00:20:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:808/Chat.Host/ChatService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChat"
                contract="IISChat.IChat" name="NetTcpBinding_IChat" />
        </client>
    </system.serviceModel>
</configuration>