<?xml version="1.0" encoding="utf-8"?>
<bindings>
  <netTcpBinding>
    <binding name="tcpBinding" 
             maxBufferSize="67108864" 
             maxReceivedMessageSize="67108864" 
             maxBufferPoolSize="67108864" 
             transferMode="Buffered" 
             closeTimeout="00:00:10" 
             openTimeout="00:00:10" 
             receiveTimeout="00:20:00" 
             sendTimeout="00:01:00" 
             portSharingEnabled="true">
      <!--maxConnections="100">-->
      <security mode="None"></security>
      <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" maxStringContentLength="67108864" />
      <reliableSession enabled="true" inactivityTimeout="00:20:00" />
    </binding>
  </netTcpBinding>
</bindings>
