<?xml version="1.0" encoding="utf-8"?>
    <services>
      <service name="Chat.Service.ChatService" behaviorConfiguration="behaviorConfig">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/Chat.Host/ChatService.svc" />
            <add baseAddress="http://localhost/Chat.Host/ChatService.svc" />
          </baseAddresses>
        </host>
        <!--<endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ServiceAssembly.IChat" />
        <endpoint address="net.tcp://localhost:808/Chat.Host/mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Chat.Service.IChat" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>
    </services>
